{% extends 'base.html' %}
{%load staticfiles%}
{% block content %}
    <section class="container">
      
        <div class="header__block mb20">
          
        </div>
      
      
  <section class="constrain">
  </section>
  <div class="constrain">
    <div class="mini-head">
      <span class="mini-head__title">Медиа файл</span>
    </div>
    <section class="content mb50">
      <header class="news-title">
        <h1 class="news-name">{{file.description}}</h1>
      </header>
      {% if file.is_video %}
      <article class="news-article" id="news_article">
        <video width="620" controls>
          <source src="../../{{file.video}}" type="video/mp4">
        </video>
      </article>
      {% else %}
      <article class="news-article" id="news_article">
        <img src=" ../../{{file.photo}}">
      </article>
      {% endif %}

<div class="share-btn ">
    <span class="share-title">Дата <br>{{file.date}}</span>
</div>

      
    </section>
  </div><!-- class="constrain" -->
  


</div>
{% endblock %}