{% extends 'base.html' %}
{%load staticfiles%}
{% block content %}
    <section class="container">
      
        <div class="header__block mb20">
          
        </div>
      
      
  <section class="constrain">
  </section>
  <div class="constrain">
    <div class="mini-head">
      <span class="mini-head__title">новости</span>
    </div>
    <section class="content mb50">
      <header class="news-title">
        <h1 class="news-name">{{new.title}}</h1>
      </header>

      <article class="news-article" id="news_article">
        <img src=" ../../{{new.photo}}">
        <br>
        <hr>
        <p>{{new.body}}</p>
      </article>
      

    
      <div class="news-source right">
        <span>Источник:</span>
        <a href="http://ria.ru/" class="link" target="_blank">РИА Новости</a>
      </div>

<div class="share-btn ">
    <span class="share-title">Дата <br>{{new.date}}</span>
</div>

      
    </section>
    <aside class="aside mb50">
      



<div class="news-timeline">
 
 
    <span class="date">22.08.2016</span>
    
      <div class="item">
        <a href="http://www.obeschania.ru/news/2016-08-22/medvedev-sadovodi" class="link">
        <span class="time">17:22</span>
          Медведев: садоводы должны иметь возможность продавать свою продукцию
        </a>
        <div class="align-right">
          

<div class="newsitem_important-wrap">
    <a href="javascript:;" data-lnk="/news/important_increase/39248/" class="important js-newsitem_increase_button ">Это важно</a>
</div>

        </div>
      </div>
    
      <div class="item">
        <a href="http://www.obeschania.ru/news/2016-08-22/ua-putin-medvedev" class="link">
        <span class="time">16:30</span>
          Генпрокуратура Украины готовит уголовное дело против Путина и Медведева
        </a>
        <div class="align-right">
          

<div class="newsitem_important-wrap">
    <a href="javascript:;" data-lnk="/news/important_increase/39247/" class="important js-newsitem_increase_button ">Это важно</a>
</div>

        </div>
      </div>
    
      <div class="item">
        <a href="http://www.obeschania.ru/news/2016-08-22/olimpiada-zachet" class="link">
        <span class="time">14:57</span>
          Немецкий таблоид Bild пропустил Россию в итоговом медальном зачете ОИ-2016
        </a>
        <div class="align-right">
          

<div class="newsitem_important-wrap">
    <a href="javascript:;" data-lnk="/news/important_increase/39246/" class="important js-newsitem_increase_button ">Это важно</a>
</div>

        </div>
      </div>
    
      <div class="item">
        <a href="http://www.obeschania.ru/news/2016-08-22/iran-rf-baza" class="link">
        <span class="time">13:23</span>
          Иран сообщил, что Москва прекратила использовать базу Хамадан
        </a>
        <div class="align-right">
          

<div class="newsitem_important-wrap">
    <a href="javascript:;" data-lnk="/news/important_increase/39245/" class="important js-newsitem_increase_button ">Это важно</a>
</div>

        </div>
      </div>
    
      <div class="item">
        <a href="http://www.obeschania.ru/news/2016-08-22/saakashvili-olimpiada" class="link">
        <span class="time">11:51</span>
          Саакашвили раскритиковал олимпийскую сборную Украины за плохие результаты
        </a>
        <div class="align-right">
          

<div class="newsitem_important-wrap">
    <a href="javascript:;" data-lnk="/news/important_increase/39244/" class="important js-newsitem_increase_button ">Это важно</a>
</div>

        </div>
      </div>
    
  
    <span class="date">19.08.2016</span>
    
      <div class="item">
        <a href="http://www.obeschania.ru/news/2016-08-19/zoloto-sbornaia" class="link">
        <span class="time">19:14</span>
          Сборная России по синхронному плаванию завоевала золото на Олимпиаде в Рио
        </a>
        <div class="align-right">
          

<div class="newsitem_important-wrap">
    <a href="javascript:;" data-lnk="/news/important_increase/39243/" class="important js-newsitem_increase_button ">Это важно</a>
</div>

        </div>
      </div>
    
      <div class="item">
        <a href="http://www.obeschania.ru/news/2016-08-19/obrazovanie-vasileva" class="link">
        <span class="time">18:09</span>
          Новый министр образования Ольга Васильева рассказала о своих приоритетах
        </a>
        <div class="align-right">
          

<div class="newsitem_important-wrap">
    <a href="javascript:;" data-lnk="/news/important_increase/39242/" class="important js-newsitem_increase_button ">Это важно</a>
</div>

        </div>
      </div>
      <div class="item">
        <a href="http://www.obeschania.ru/news/2016-08-19/rf-ua-putin" class="link">
        <span class="time">16:51</span>
          Путин: Россия не собирается сворачивать отношения с Украиной
        </a>
        <div class="align-right">
<div class="newsitem_important-wrap">
    <a href="javascript:;" data-lnk="/news/important_increase/39241/" class="important js-newsitem_increase_button ">Это важно</a>
</div>
        </div>
      </div>
  <div class="align-right">
    <a href="http://www.obeschania.ru/news/" class="all">Все новости</a>
  </div>
</div>
    </aside>
    <div class="clearfix"></div>
      <div class="comments" id="comments">
  <div class="comment-create comments-field">
<form action="http://www.obeschania.ru/comments/create/" method="POST">
  <div style="display:none"><input type="hidden" name="csrfmiddlewaretoken" value="215943b90aa7f9ea8450a83a06e649f9"></div>
  <input type="hidden" name="content_type" value="43" id="id_content_type">
  <input type="hidden" name="object_id" value="39249" id="id_object_id">
  <input type="hidden" name="parent_comment" id="id_parent_comment">
  <div class="comments-item">
      <a href="http://www.obeschania.ru/accounts/profile/19359/" class="comments-item__avatar" title="Ariet Begeldinov">
        <img src="./detailed_obewanie_files/user_19359_1.jpg.70x70_q100_crop-,0.jpg" alt="Ariet Begeldinov" class="avatar">
      </a>
    <div class="comments-item__info">
      <div class="comments-item__form">
        <textarea rows="3" name="content" placeholder="Говорите!" cols="40" id="id_content"></textarea>
        <input type="submit" value="Отправить" class="btn">
      </div>
      <div class="comments-item__checkboxes">
        <div class="comments-item__checkbox">
          <input id="id_receive_answers" checked="checked" type="checkbox" name="receive_answers" class="checkbox-small">
          <span class="text">Присылать мне ответы на мой комментарий</span>
        </div>
      </div>
    </div>
  </div>
</form>
  </div>
  <div class="comments-list">
  </div>
</div>
  </div><!-- class="constrain" -->
  
{% endblock %}