{% extends 'base.html' %}
{%load staticfiles%}
{% block content %}
<!-- Button trigger modal -->

<br>
 <div class="container">
    <h2 class="text-center">Новости</h2>
  </div>
  <br><br><br>
    <section class="container">
    <div class="constrain">
      <div class="tile-widgets" id="js-tile-widgets">
          
          
<div class="row">      
{% for new in news %}             
<div class="cell">
<div class="tw-block tw-block_cover tw-block_story">
  <span class="status ">
    Новости
  </span>
    <div class="cover" style="background-image: url(../../{{new.photo}});"></div>
      <div class="wrap-title">
        <a href="{% url 'news:detailed_news' new.id %}" class="title">{{new.title}}</a>
      </div>  
</div> 
</div>
{% if forloop.counter|divisibleby:3 %}
<div class="row"></div>
{% endif %}
{% endfor %}            
            
</div>
          
        
      </div><!-- class="tile-widgets" -->
    </div><!-- class="constrain" -->
</section>
{% endblock %}