{% extends 'base.html' %}
{%load staticfiles%}
{% block content %}
    <section class="container">
        <div class="header__block mb20">
        </div>
        <br><br><br>
  <div class="constrain">
    <div class="mini-head">
      <span class="mini-head__title">обещание</span>
    </div>
    <div class="profile-status"></div>
    <div class="profile-main mb25">
      <div class="view">
        <div class="avatar-circle avatar-circle_large">
          <img src="../../{{promis.person.photo}}" alt="{{promis.person.first_name}} {{promis.person.last_name}}" class="avatar-img">
        </div>
        
      </div>
      <div class="info">
        <span class="name">
            {{promis.person.first_name}} {{promis.person.last_name}} {{promis.person.middle_name}}
        </span>
        <span class="org">
           Фракция {{promis.person.party}}
        </span>
      </div>
      <div class="statistic">
        
          
            <div class="item tooltip-effect tooltip-effect-top">
              {% if promis.promisrank_set.count > 0 %}
              <span class="num white show">{{rank_persentage}}%</span>
              <span class="text">рейтинг<br>доверия</span>
              {% endif %}

              <span class="tooltip-content">Рейтинг сформирован на основе голосования за каждое высказывание {{promis.person.first_name}}a {{promis.person.last_name}}a</span>
              
            </div>
          
        
        
        
            <div class="item">
              <span class="num white show">
                {{positive_rank}}
              </span>
              <a class="btn_opacity-green">Пользователя<br>Верят</a>
            </div>
            <div class="item">
              <span class="num white show">
                {{negative_rank}}
              </span> 
              <a class="btn_opacity-green">Пользователя<br>Не верят</a>
            </div>
        
      </div>
    </div>
  <div class="timeline timeline-actually">
    <div class="timeline__container">
        <div class="timeline__head">
          <h1 class="timeline__title">{{promis.title}}</h1>
          <div class="timeline__ctrl">
            

<div class="bvote bvote_horz">
        <div class="bvote__action">
                {% if my_rank %}
                  {% if my_rank.positive %}
                  <a  class="bvote-btn bvote-btn_believe" style="background-color:#d65858">
                    <i class="fa fa-thumbs-o-up fa-3x" aria-hidden="true"></i><span class="btn-text">Верю</span>
                  </a>
                <a href="{% url 'promis:not_believe' promis.id %}"  class="bvote-btn bvote-btn_bottom bvote-btn_not-believe">
                    <i class="fa fa-thumbs-o-down fa-3x" aria-hidden="true"></i><span class="btn-text">Не верю</span>
                </a>
                  {% else %}
                  <a href="{% url 'promis:believe' promis.id %}"  class="bvote-btn bvote-btn_believe">
                    <i class="fa fa-thumbs-o-up fa-3x" aria-hidden="true"></i><span class="btn-text">Верю</span>
                </a>
                <a class="bvote-btn bvote-btn_bottom bvote-btn_not-believe" style="background-color:#d65858">
                    <i class="fa fa-thumbs-o-down fa-3x" aria-hidden="true"></i><span class="btn-text">Не верю</span>
                </a>
                  {% endif %}

                {% else %}

                <a href="{% url 'promis:believe' promis.id %}"  class="bvote-btn bvote-btn_believe">
                    <i class="fa fa-thumbs-o-up fa-3x" aria-hidden="true"></i><span class="btn-text">Верю</span>
                </a>
                <a href="{% url 'promis:not_believe' promis.id %}"  class="bvote-btn bvote-btn_bottom bvote-btn_not-believe">
                    <i class="fa fa-thumbs-o-down fa-3x" aria-hidden="true"></i><span class="btn-text">Не верю</span>
                </a>
                {% endif %}
            
        </div>
        <div style="display:none;">
            <input class="js_vote_sum_votes_plus_one" value="19">
            <input class="js_vote_yes" value="8">
        </div>
    
</div>

          </div>
          <div class="timeline__event">
            <span class="timeline__date">{{promis.date.date|date:"c"}}</span>
            <span class="status">Дата обещания</span>
          </div>
        </div>
        <div class="normalize">
          <p>{{promis.body}}</p>
        </div>
      
        
        
          
              <div class="timeline__status timeline__status-refuse ">
                <div class="timeline__event">
                  <span class="timeline__date">23.08.2016</span>
                  
                    <span class="status">Активно</span>
                  
                </div>
                <a data-toggle="modal" data-target="#ResultModal" class="btn js-popupwin">подвести итог</a>
              </div>
            <div class="timeline__status timeline__status-final timeline__status-last">
              <div class="timeline__event">
                <span class="timeline__date">{{promis.deadline.date|date:"c"}}</span>
                <span class="status">Срок до</span>
              </div>
            </div>
          
        
      
    </div>
  </div>

  <div class="clearfix">
      <a data-toggle="modal" data-target="#LinkModal" class="source-link">Источник</a>
      <br>
      <div class="share42init"></div>
<script type="text/javascript" src="{% static 'share42/share42.js' %}"></script>
<br>
  </div>  
    <div class="comments" id="comments">
  <div class="comment-create comments-field">



{% if user.is_authenticated %}
<form action="{% url 'promis:add_comment' promis.id %}" method="POST">
{% csrf_token %}
  <div class="comments-item">
    
      <a href="" class="comments-item__avatar">
        <p> {{user.username}} </p>
      </a>
    
    <div class="comments-item__info text-center">
      <div class="comments-item__form">
        <textarea rows="3" name="content" class="form-control" placeholder="Говорите!" cols="40" id="id_content"></textarea>
      </div>
      <br>
      <input type="submit" value="Отправить" class="btn-primary text-center" style="
                                        display: inline-block;
                                        padding: 6px 12px;
                                        margin-bottom: 0;
                                        font-size: 14px;
                                        font-weight: 400;
                                        line-height: 1.42857143;
                                        text-align: center;
                                        white-space: nowrap;
                                        vertical-align: middle;
                                        -ms-touch-action: manipulation;
                                        touch-action: manipulation;
                                        cursor: pointer;
                                        -webkit-user-select: none;
                                        -moz-user-select: none;
                                        -ms-user-select: none;
                                        user-select: none;
                                        background-image: none;
                                        border: 1px solid transparent;
                                        border-radius: 4px;">
  </div>
</form>
{% endif %}

  </div>

  <div class="comments-list">




<div class="container">
  <div class="row">
    <div class="col-sm-10">
    {% for comment in comments %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>{{comment.user.username}}</strong> <span class="text-muted " style="float:right">{{comment.date}}</span>
        </div>
        <div class="panel-body">
          {{comment.content}}
          <hr>
          <a data-toggle="modal" data-target="#commentModal{{comment.id}}">Ответить</a>
        </div><!-- /panel-body -->
      </div>

      {% for comment in comment.comments_set.all %}
      {% if comment.is_approved %}
      <div class="panel panel-default" style="margin-left:50px">
        <div class="panel-heading">
          <strong>{{comment.user.username}}</strong> <span class="text-muted " style="float:right">{{comment.date}}</span>
        </div>
        <div class="panel-body">
          {{comment.content}} 
          <hr>
          <a data-toggle="modal" data-target="#commentModal{{comment.id}}">Ответить</a>
        </div><!-- /panel-body -->
      </div>
      {% endif %}
      {% for comment in comment.comments_set.all %}
      {% if comment.is_approved %}
      <div class="panel panel-default" style="margin-left:100px">
        <div class="panel-heading">
          <strong>{{comment.user.username}}</strong> <span class="text-muted " style="float:right">{{comment.date}}</span>
        </div>
        <div class="panel-body">
          {{comment.content}} 
          <hr>
        </div><!-- /panel-body -->
      </div>
      {% endif %}
      {% endfor %}
      {% endfor %}

    {% endfor %}
    </div>   
  </div><!-- /row -->
</div><!-- /container -->
  </div>
  </div>
</div>
</div><!-- class="constrain" -->
<!-- ============== START MODAL PAGES ================= -->
<!-- LINK MODAL PAGE -->
<div class="modal fade" id="LinkModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
<div class="popup popup-source " id="js-source-popup" style="display: block;">
    <a href="javascript:$.fancybox.close();" class="popup-close"></a>
    <div class="popup__content">
      <div class="mini-head">
        <span class="mini-head__title">источник</span>
      </div>
      
        <p class="text">{{promis.title}}</p>
      
        <a href="{{promis.link}}" class="link" target="_blank">{{promis.link}}</a>
      
      <div class="clearfix"></div>
        <img src="../../{{promis.screenshot}}">
    </div>
  </div>
    </div>
  </div>

<!-- RESULT IN MODAL PAGE -->
<div class="modal fade" id="ResultModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
  <div class="js-submit-form">
      <div class="popup__head popup__head_large">
        <span class="main-title uppercase">подвести итог</span>
      </div>
      <div class="popup__content">
        <div class="form-sumup fields-small">
          <form action="{% url 'promis:add_result' %}" method="POST">
          {% csrf_token %}
            <input type="hidden" name="promis_id" value="{{promis.id}}">
            <div class="form-sumup__fields">
              <div class="field">
                <textarea id="id_content" rows="10" placeholder="Текст" cols="40" name="content"></textarea>
                
              </div>
              <div class="field">
                <span class="ttl mb15">Подтверждением выполнения или невыполнения обещания является:</span>
                <ul class="list-left-point">
                  <li class="item">Ссылка на общедоступную информацию в Сети.
                  </li><li class="item">Фотоматериалы и видеоматериалы, подтверждающие присылаемую информацию.</li>
                </ul>
              </div>
            </div>
            <div>
              <input type="submit" value="Отправить" class="btn btn_max btn_supper">
            </div>
          </form>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
</div>

{% for comment in comments_all %}
<div class="modal fade" id="commentModal{{comment.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
  <div class="js-submit-form">
      <div class="popup__head popup__head_large">
        <span class="main-title uppercase">Ответить на комментарий</span>
      </div>
      <div class="popup__content">
      <p>{{comment.content}}</p>
      <hr>
        <div class="form-sumup fields-small">
          <form action="{% url 'promis:add_comment' promis.id comment.id %}" method="POST">
          {% csrf_token %}
            <div class="form-sumup__fields">
              <div class="field">
                <textarea id="id_content" rows="10" placeholder="Говорите!" cols="40" name="content"></textarea>
              </div>
            </div>
            <div>
              <input type="submit" value="Отправить" class="btn btn_max btn_supper">
            </div>
          </form>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}