{% extends 'base.html' %}
{%load staticfiles%}
{% block content %}
    <section class="container">
        <div class="header__block mb20">
        </div>
  <section class="constrain">
    



<div class="wtrust">
  <div class="wtrust__link">
    <div class="wtrust__opponenet-left">
      <a href="http://www.obeschania.ru/persons/farli-robert" target="_blank">
        <div class="avatar-circle">
          <img src="./detailed_obew_files/person_4274.jpg.107x107_q85_crop-,0.jpg" alt="" class="avatar-img">
        </div>
      </a>
      <div class="wtrust__info">
        <a href="http://www.obeschania.ru/documents/forecasts/mistral-brazilia" target="_blank" class="wtrust__info__link">
          <div class="wtrust__phrase">Фарли Роберт: Франция продаст российские "Мистрали" Бразилии</div>
        </a>
        <div class="wtrust__post">Военный эксперт</div>
      </div>
    </div>
    <div class="wtrust__opponenet-right">
      <div class="wtrust__wrap">
        <a href="http://www.obeschania.ru/persons/shepovalenko-maksim" target="_blank">
          <div class="avatar-circle">
            <img src="./detailed_obew_files/shepovalenko.jpg.107x107_q85_crop-,0.jpg" alt="" class="avatar-img">
          </div>
        </a>
        <div class="wtrust__info">
          <a href="http://www.obeschania.ru/opinions/mistrali-brazilia" target="_blank" class="wtrust__info__link">
            <div class="wtrust__phrase">Шеповаленко Максим: У Бразилии нет денег на покупку "Мистралей"</div>
          </a>
         <div class="wtrust__post">Ведущий эксперт Центра анализа стратегий и технологий</div>
        </div>
      </div>
    </div>
    <span class="wtrust__vs">vs.</span>
  </div>
  
    


<div class="wtrust__buttons">

  <div class="wtrust__btn-left">
    
        

<div class="bvote bvote_horz">
    
        <div class="bvote__load" style="display:none">
            <span class="text">Спасибо, <br>ваш голос <br>учтен</span>
            <span class="text text_bottom">Рейтинг <br>в процессе <br>подсчета</span>
        </div>
        <div class="js_vote__scale bvote__scale " style="display:none">
            <span class="bg" style="width: 95%"></span>
                <span class="value">
                    <span class="value-rating">95%</span>
                    <span class="value-title">Рейтинг доверия</span>
                </span>
        </div>
        <div class="bvote__action">
            
                <a href="javascript:;" data-lnk="/documents/vote_increase/12342/yes/" class="bvote-btn btn wtrust__btn">Верю ему</a>
            
        </div>
        <div style="display:none;">
            <input class="js_vote_sum_votes_plus_one" value="434">
            <input class="js_vote_yes" value="413">
        </div>
    
</div>

    
  </div>

  <div class="wtrust__btn-right">
    
       

<div class="bvote bvote_horz">
    <div class="bvote__load" style="display:none">
        <span class="text">Спасибо <br>ваш голос <br>учтен</span>
        <span class="text text_bottom">Рейтинг <br>в процессе <br>подсчета</span>
    </div>
    <div class="js_vote__scale bvote__scale " style="display:none">
        <span class="bg" style="width: 96%"></span>
            <span class="value">
                <span class="value-rating">96%</span>
                <span class="value-title">Рейтинг доверия</span>
            </span>
    </div>
    <div class="bvote__action">
        
            <a href="javascript:;" data-lnk="/opinions/vote_increase/1223/yes/" class="bvote-btn bvote-btn_pro btn wtrust__btn">Поддержать</a>

        
    </div>
    <div style="display:none;">
        <input class="js_vote_sum_votes_plus_one" value="1111">
        <input class="js_vote_yes" value="1069">
    </div>
</div>

    
  </div>

</div>

<div style="clear: both;"></div>

  
</div>




  </section>

      
  <div class="constrain">
    <div class="mini-head">
      <span class="mini-head__title">обещание</span>
    </div>
    <div class="profile-status"></div>
    <div class="profile-main mb25">
      <div class="view">
        <div class="avatar-circle avatar-circle_large">
          <img src="./detailed_obew_files/Recep_Tayyip_Erdogan_150412_albom_5.jpg.107x107_q85_crop-,0.jpg" alt="Эрдоган Реджеп Тайип" class="avatar-img">
        </div>
        <a href="http://www.obeschania.ru/persons/erdogan-redzhep-tajip-" class="btn">Биография</a>
      </div>
      <div class="info">
        <span class="name">
            Эрдоган Реджеп Тайип
        </span>
        <span class="org">
            Президент Турции
        </span>
      </div>
      <div class="statistic">
        
          
            <div class="item tooltip-effect tooltip-effect-top">
              <span class="num white show">37%</span>
              <span class="text">рейтинг<br>доверия</span>
              
                <span class="tooltip-content">Рейтинг сформирован на основе голосования за каждое высказывание Эрдогана Реджепа Тайипа</span>
              
            </div>
          
        
        
        
            <div class="item">
              <span class="num white show">
                3
              </span>
              <a href="http://www.obeschania.ru/documents/?status_not_fulfilled=on&amp;person=1196" class="btn_opacity-green">невыполненные<br>обещания</a>
            </div>
        
      </div>
    </div>
  <div class="timeline timeline-actually">
    <div class="timeline__container">
        <div class="timeline__head">
          <h1 class="timeline__title">Оплатим строительство половины "Турецкого потока"</h1>
          <div class="timeline__ctrl">
            

<div class="bvote bvote_horz">
    
        <div class="bvote__load" style="display:none">
            <span class="text">Спасибо, <br>ваш голос <br>учтен</span>
            <span class="text text_bottom">Рейтинг <br>в процессе <br>подсчета</span>
        </div>
        <div class="js_vote__scale bvote__scale bvote__scale_bad" style="display:none">
            <span class="bg" style="width: 44%"></span>
                <span class="value">
                    <span class="value-rating">44%</span>
                    <span class="value-title">Рейтинг доверия</span>
                </span>
        </div>
        <div class="bvote__action">
            
                <a href="javascript:;" data-lnk="/documents/vote_increase/13855/yes/" class="bvote-btn bvote-btn_believe">
                    <span class="btn-text">Верю</span>
                </a>
                <a href="javascript:;" data-lnk="/documents/vote_increase/13855/no/" class="bvote-btn bvote-btn_bottom bvote-btn_not-believe">
                    <span class="btn-text">Не верю</span>
                </a>
            
        </div>
        <div style="display:none;">
            <input class="js_vote_sum_votes_plus_one" value="19">
            <input class="js_vote_yes" value="8">
        </div>
    
</div>

          </div>
          <div class="timeline__event">
            <span class="timeline__date">11.08.2016</span>
            <span class="status">Дата обещания</span>
          </div>
        </div>
        <div class="normalize">
          <p><span><span>Турция готова оплатить половину расходов на&nbsp;строительство сухопутной части газопровода "Турецкий поток", об этом заявил президент страны Реджеп Эрдоган после&nbsp;встречи с <a class="lnk-person-ico tooltipstered" href="http://www.obeschania.ru/persons/putin-vladimir" target="_blank"><em class="person-ico" data-objectpk="1"></em>Владимиром Путиным</a>.&nbsp;</span>России это позволит сэкономить более 2,2 млрд евро.</span></p>
<blockquote>
<p><span>"Мы сообщили, что&nbsp;никаких проблем с&nbsp;проектом "Турецкий поток"&nbsp;нет. Единственное, мы предложили разделить пополам расходы на&nbsp;прокладку части трубопровода, которая будет на&nbsp;нашей территории", - сказал Эрдоган.</span></p>
</blockquote>
<p>Он также&nbsp;добавил, что&nbsp;есть "определенные договоренности" о&nbsp;паритетном финансировании морского участка газопровода.</p>
<p>Напомним, о возобновлении строительства газапровода стало известно накануне, <span>переговоры по "Турецкому потоку" были приостановлены в&nbsp;конце 2015 года из-за&nbsp;сбитого российского бомбардировщика Су-24.</span></p>
<p>Отмечается, что<span>&nbsp;первая нитка должна быть построена в&nbsp;декабре 2019 года.</span></p>
        </div>
      
        
        
          
              <div class="timeline__status timeline__status-refuse ">
                <div class="timeline__event">
                  <span class="timeline__date">19.08.2016</span>
                  
                    <span class="status">Активно</span>
                  
                </div>
                <a href="javascript:;" data-fancybox-href="/news/create/13855/ajax" class="btn js-popupwin fancybox.ajax">подвести итог</a>
              </div>

          
          
        
      
        
        
          
          
            <div class="timeline__status timeline__status-final timeline__status-last">
              <div class="timeline__event">
                <span class="timeline__date">31.12.2019</span>
                <span class="status">Срок до</span>
              </div>
            </div>
          
        
      
    </div>
  </div>

  <div class="clearfix">
    
    
        

<script type="text/javascript">
    window.onload = function()
    {
        window.share = new Share (
                        "http://www.obeschania.ru/documents/promises/tureckij-potok-erdogan",
                        "Оплатим строительство половины Турецкого потока",
                        "http://www.obeschania.ru",
                        "Турция готова оплатить половину расходов на&nbsp;строительство сухопутной части газопровода Турецкий поток, об этом заявил президент страны Реджеп Эрдоган после&nbsp;встречи с Владимиром Путиным.&nbsp;России это позволит сэкономить более 2,2 млрд евро.Мы сообщили, ..."
                        );
    };
</script>


<div class="share-btn right">
    <span class="share-title">Поделиться ссылкой <br>на эту тему с друзьями:</span>
    <a onclick="share.vk();" class="share-link share-link_vk sharing_action" data-url="/gamification/share/document/13855/"></a>
    <a onclick="share.fb();" class="share-link share-link_fb sharing_action" data-url="/gamification/share/document/13855/"></a>
    <a onclick="share.tw();" class="share-link share-link_tw sharing_action" data-url="/gamification/share/document/13855/"></a>
</div>

    
    <div class="tag-list">
      
        <a href="http://www.obeschania.ru/documents/?type=promises&amp;topic=25" class="easy-button easy-button_small">Экономика</a>
      
      
    </div>
    
      <a href="javascript:;" data-fancybox-href="#js-source-popup" class="source-link js-popupwin fancybox">Источник</a>
    
  </div>

  






  




  
    <div class="comments" id="comments">
  <div class="comment-create comments-field">





<form action="http://www.obeschania.ru/comments/create/" method="POST">
  <div style="display:none"><input type="hidden" name="csrfmiddlewaretoken" value="215943b90aa7f9ea8450a83a06e649f9"></div>
  <input type="hidden" name="content_type" value="38" id="id_content_type">
  <input type="hidden" name="object_id" value="13855" id="id_object_id">
  <input type="hidden" name="parent_comment" id="id_parent_comment">
  <div class="comments-item">
    
      <a href="http://www.obeschania.ru/accounts/profile/19359/" class="comments-item__avatar" title="Ariet Begeldinov">
        <img src="./detailed_obew_files/user_19359_1.jpg.70x70_q100_crop-,0.jpg" alt="Ariet Begeldinov" class="avatar">
      </a>
    
    <div class="comments-item__info">
      <div class="comments-item__form">
        <textarea rows="3" name="content" placeholder="Говорите!" cols="40" id="id_content"></textarea>
      
        <input type="submit" value="Отправить" class="btn">
      
      </div>
      

      <div class="comments-item__checkboxes">
        <div class="comments-item__checkbox">
          <input id="id_receive_answers" checked="checked" type="checkbox" name="receive_answers" class="checkbox-small">
          <span class="text">Присылать мне ответы на мой комментарий</span>
        </div>
        
      </div>

    </div>
  </div>
</form>


  </div>

  <div class="comments-list">
  
  </div>


</div>


  

  </div><!-- class="constrain" -->
  


  <div class="popup popup-source " id="js-source-popup">
    <a href="javascript:$.fancybox.close();" class="popup-close"></a>
    <div class="popup__content">
      <div class="mini-head">
        <span class="mini-head__title">источник</span>
      </div>
      
        <p class="text">Эрдоган пообещал оплатить строительство половины «Турецкого потока» :: Бизнес :: РБК</p>
      
      
        <a href="http://www.rbc.ru/business/11/08/2016/57ac57979a79475862a10f87" class="link" target="_blank">http://www.rbc.ru/business/11/08/2016/57ac57979a79475862a10f87</a>
      
      <div class="clearfix"></div>
      
        <img src="./detailed_obew_files/Snimok_1.JPG.660x300_q85_crop-,0.jpg">
      
      
      
    </div>
  </div>



{% endblock %}