{% extends 'base.html' %}
{%load staticfiles%}
{% block content %}


    <section class="container">
      
        <div class="header__block mb20">
          
        </div>
      
      
      
  <div class="constrain">
    <div class="mini-head">
      <span style="color:#c15166; display:inline-block" class="mini-head__title">фракция {{active_party.title}}</span>
      <span class="mini-head__title" style="float:right; display:inline-block">Местный Кенеш </span>
    </div>
    <div class="wfilter">
    <div class="list-group">
        {% for region in regions %}
          {% if region == active_region %}
            <a href="{% url 'person:mestnyi_kenesh' region.id %}" class="list-group-item" style="background-color:#c15166;">{{region}}</a>
          {% else %}
            <a href="{% url 'person:mestnyi_kenesh' region.id %}" class="list-group-item">{{region}}</a>
          {% endif %}
        {% endfor %}
    </div>
    </div>
    <!--<div class="content content-right text-center" id="object_list" >
      <img height="150" class="text-center" src="../../{{active_party.logo}}">
          <hr>
    </div>-->
    <div class="content content-right" id="object_list">
      <ul class="filter-persons">
          
          {% for person in persons %}
          <li class="item">
            <a href="" class="link">
              <div class="wrap">
                <img src=" ../../{{person.photo}}" alt="{{person}}" class="img">
              </div>
              <span class="name">{{person.last_name}} {{person.first_name}} {{person.middle_name}}</span>
            </a>
          </li>
          {% endfor %}
      </ul>
</div>
  </div><!-- class="constrain" -->
  
{% endblock %}