{% extends 'base.html' %}
{%load staticfiles%}
{% block content %}
<meta name="Description" content="{{forecast.title}}">
    <section class="container">
      
        <div class="header__block mb20">
          
        </div>
      
      
  <section class="constrain">
  </section>
  <div class="constrain">
    <div class="mini-head">
      <span class="mini-head__title">Мнения экспертов</span>
    </div>
    <section class="content mb50">
      <header class="news-title">
        <h1 class="news-name">{{forecast.title}}</h1>
      </header>

      <article class="news-article" id="news_article">
        <p>{{forecast.body|linebreaks}}</p>
        <hr>
        <p>Эксперт: {{forecast.expert}}</p>
      </article>

<div class="share-btn ">
    <span class="share-title">Дата : {{forecast.date}}</span>
</div>
<br>
<div class="share42init"></div>
<script type="text/javascript" src="{% static 'share42/share42.js' %}"></script>
      
    </section>
    <aside class="aside mb50">
      



<div class="news-timeline">
 
 
    <span class="date">Другие мнения</span>
    {% for mnenie in other_forecasts %}
      <div class="item">
        <a href="{% url 'forecast:detailed_forecast' mnenie.id %}" class="link">
        <span class="time">{{mnenie.date}}</span><br>
          {{mnenie.expert}} : {{ novomneniesti.title }}
        </a>
        <div class="align-right">
        </div>
      </div>
      {% endfor %}
    
    


  <div class="align-right">
    <a href="{% url 'forecast:main' %}" class="all">Все мнения</a>
  </div>
</div>
    </aside>
    <div class="clearfix"></div>
      <div class="comments" id="comments">
  <div class="comment-create comments-field">
{% if user.is_authenticated %}
<form action="{% url 'forecast:add_comment' forecast.id %}" method="POST">
{% csrf_token %}
  <div class="comments-item">
    
      <a href="" class="comments-item__avatar">
        <p> {{user.username}} </p>
      </a>
    
    <div class="comments-item__info text-center">
      <div class="comments-item__form">
        <textarea rows="3" name="content" class="form-control" placeholder="Говорите!" cols="40" id="id_content"></textarea>
      </div>
      <br>
      <input type="submit" value="Отправить" class="btn-primary text-center" style="
                                        display: inline-block;
                                        padding: 6px 12px;
                                        margin-bottom: 0;
                                        font-size: 14px;
                                        font-weight: 400;
                                        line-height: 1.42857143;
                                        text-align: center;
                                        white-space: nowrap;
                                        vertical-align: middle;
                                        -ms-touch-action: manipulation;
                                        touch-action: manipulation;
                                        cursor: pointer;
                                        -webkit-user-select: none;
                                        -moz-user-select: none;
                                        -ms-user-select: none;
                                        user-select: none;
                                        background-image: none;
                                        border: 1px solid transparent;
                                        border-radius: 4px;">
  </div>
</form>
{% endif %}

  </div>
  <div class="comments-list">


<div class="container">
  <div class="row">
    <div class="col-sm-10">
    {% for comment in comments %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>{{comment.user.username}}</strong> <span class="text-muted " style="float:right">{{comment.date}}</span>
        </div>
        <div class="panel-body">
          {{comment.content}}
          <hr>
          <a data-toggle="modal" data-target="#commentModal{{comment.id}}">Ответить</a>
        </div><!-- /panel-body -->
      </div>

      {% for comment in comment.forecastcomment_set.all %}
      {% if comment.is_approved %}
      <div class="panel panel-default" style="margin-left:50px">
        <div class="panel-heading">
          <strong>{{comment.user.username}}</strong> <span class="text-muted " style="float:right">{{comment.date}}</span>
        </div>
        <div class="panel-body">
          {{comment.content}} 
          <hr>
          <a data-toggle="modal" data-target="#commentModal{{comment.id}}">Ответить</a>
        </div><!-- /panel-body -->
      </div>
      {% endif %}
      {% for comment in comment.forecastcomment_set.all %}
        {% if comment.is_approved %}
          <div class="panel panel-default" style="margin-left:100px">
            <div class="panel-heading">
              <strong>{{comment.user.username}}</strong> <span class="text-muted " style="float:right">{{comment.date}}</span>
            </div>
            <div class="panel-body">
              {{comment.content}} 
              <hr>
            </div><!-- /panel-body -->
          </div>
        {% endif %}
      {% endfor %}
      {% endfor %}

    {% endfor %}
    </div>   
  </div><!-- /row -->
</div><!-- /container -->


  </div>
</div>
  </div><!-- class="constrain" -->
  

  {% for comment in comments_all %}
<div class="modal fade" id="commentModal{{comment.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
  <div class="js-submit-form">
      <div class="popup__head popup__head_large">
        <span class="main-title uppercase">Ответить на комментарий</span>
      </div>
      <div class="popup__content">
      <p>{{comment.content}}</p>
      <hr>
        <div class="form-sumup fields-small">
          <form action="{% url 'forecast:add_comment' forecast.id comment.id %}" method="POST">
          {% csrf_token %}
            <div class="form-sumup__fields">
              <div class="field">
                <textarea id="id_content" rows="10" placeholder="Говорите!" cols="40" name="content"></textarea>
              </div>
            </div>
            <div>
              <input type="submit" value="Отправить" class="btn btn_max btn_supper">
            </div>
          </form>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
{% endfor %}
</div>
{% endblock %}