{% extends 'base.html' %}
{%load staticfiles%}
{% block content %}
<!-- Button trigger modal -->

<br>
 <div class="container">
    <div class="row">
        <div class="col-md-5 col-md-offset-1"> 
            <a href="{% url 'person:zhogorku_kenesh' %}">
                <img class="img-responsive" src="{% static 'images/jogorku.jpg'%}">
                
                <button class="btn btn-success form-control" style="border-radius:0; background-color:#ae0c2b;;"><span class="text-center">Жогорку Кенеш</span></button>
            </a>
        </div>

        <div class="col-md-5"> 
            <a href="{% url 'person:mestnyi_kenesh' %}">
                <img src="{% static 'images/mestnyi.jpg'%}">
                <button class="btn btn-success form-control" style="border-radius:0; background-color:#ae0c2b;;"><span class="text-center">Местный Кенеш</span></button>
            </a>
        </div>
    </div>
  </div>
  <br><br><br>
    <section class="container">
    <div class="constrain">
      <div class="tile-widgets" id="js-tile-widgets">
          
          
<div class="row">      
{% for promis in promises %} 

<div class="cell" >  
{% if promis.status == 'Выполнено' %}  
<div class="tw-block" style="background-color:#67b767">
{% elif promis.status == 'Не выполнено'%}
<div class="tw-block" style="background-color:#f96666">
{% else %}
<div class="tw-block">
{% endif %}
  <span class="status status-actually">
    Обещание
  </span>
      <div class="tw-block-avatart">
          <a href="{% url 'person:detailed_person' promis.person.id %}" class="avatar-circle avatar-circle_middle">
            <img src="../../{{promis.person.photo}}" alt="{{promis.person.first_name}} {{promis.person.last_name}}" class="avatar-img">
          </a>
      </div>
      <span class="tw-block-note" style="color:black">Фракция {{promis.person.party}}</span>
      <a href="{% url 'promis:detailed_promis' promis.id %}" class="tw-block-title">
          {{promis.title}}
      </a>
</div>
</div>
{% if forloop.counter|divisibleby:3 %}
<div class="row"></div>
{% endif %}
{% endfor %}            
</div>
<div class="row">      
{% for new in news %}             
<div class="cell">
<div class="tw-block tw-block_cover tw-block_story">
  <span class="status ">
    Новости
  </span>
    <div class="cover" style="background-image: url(../../{{new.photo}});"></div>
      <div class="wrap-title">
        <a href="{% url 'news:detailed_news' new.id %}" class="title">{{new.title}}</a>
      </div>  
</div> 
</div>
{% if forloop.counter|divisibleby:3 %}
<div class="row"></div>
{% endif %}
{% endfor %}                        
</div>

<div class="row">      
{% for forecast in forecasts %}             
<div class="cell">
  <div class="tw-block tw-block_cover tw-block_story" style="background-color:#d4cdcd">
    <span class="status ">
      Мнение
    </span>
      <div class="wrap-title">
        <a href="{% url 'forecast:detailed_forecast' forecast.id %}" class="title" style="color:#3b3534;cursor:pointer">{{forecast.expert}} : {{forecast.title}}</a>
      </div>  
  </div> 
</div>
{% if forloop.counter|divisibleby:3 %}
<div class="row"></div>
{% endif %}
{% endfor %}            
</div>  
      </div><!-- class="tile-widgets" -->
    </div><!-- class="constrain" -->
  
{% endblock %}